

.degisterlogo {
	width: 1150px;
	margin: 0 auto;
	line-height: 100px;
}
.degistertxt {
	width: 750px;
	height: 450px;
	border: 1px solid #ddd;
	margin: 0 auto;
	box-shadow: 0 0 5px 1px #ddd;
}
.addclass {
	margin-top: 50px;
}
.just {
	width: 180px;
	height: 46px;
	color: #fff;
	font-size: 18px;
	background: rgb(0,172,222) !important;
}
