.regnow, .carouse {
	margin: 0 auto;
}
.regnow_Topimg {
	margin-bottom: 20px;
}
.container {
	width: 100%;
	min-width: 900px;
	max-width: 1300px;
	margin-bottom: 40px;
}
.row {
	height: 100%;
	max-height: 350px;
}
.enery {
	font-size: 18px;
	margin-left: 10px;
	color: #61656b;
}
.box1 ul {
	width: 100%;
	padding-left: 0;
}
.list {
	line-height: 113px;
	display: block;
	overflow: hidden;
	margin-top: -1px;
	white-space: nowrap;
	border: 1px solid #ddd;
}

.list img {
	margin-left: 10px;
}
.box1, .box2, .box3 {
	max-height: 350px;
}
.box1, .box3 {
	padding-right: 0;
	padding-left: 0;
}
ul {
	margin-bottom: 0;
}

.box1 {
	-webkit-flex: 0 0 16%;
	flex: 0 0 16%;
}

.box2 {
	-webkit-flex: 0 0 58%;
	flex: 0 0 58%;
}

.box3 {
	height: 346px;
	flex: 0 0 25%;
}

.list3, .list3a {
	line-height: 50px;
	display: block;
	width: 50%;
	text-align: center;
	background: #ececec;
}
.list3 a, .list3a a {
	display: block;
	font-size: 16px;
	color: #61656b;
}
.box3 {
	border: 1px solid #ddd;
}
.box3-ul1 {
	padding-left: 0;
}
.box3-ul2, .box3-ul2a {
	padding-left: 20px;
}
.box3-ul2 li, .box3-ul2a li {
	line-height: 30px;
}
.box3-ul2 a , .box3-ul2a a {
	color: #242e3b;
}
.box3-ul2a {
	display: none;
}
.big {
	margin-right: 20px;
}
.carouse {
	box-sizing: border-box;
}
.carouse_sow {
	width: 20%;
	height: 350px;
	margin-right: 10px;
}
.carouse_main {
	width: 50%;
	height: 350px;
	margin-right: 10px;
	background: aqua;
}
.carouse_r {
	width: 27%;
	height: 350px;
}
.main_txt {
	box-sizing: border-box;
}
.hot-list, .news-list {
	margin-bottom: 15px;
}
.big1 {
	font-size: 16px;
	margin-right: 20px;
	color: #61656b;
}
.hot, .news {
	line-height: 40px;
	list-style: none;
	flex: 1;
}
.bac {
	margin-bottom: 20px;
	background: url(../imgs/hot.png);
}
.news {
	margin-left: 40px;
}
.hot_txt, .packagea, .servicea {
	font-size: 18px;
	font-weight: bold;
	margin-left: 20px;
	padding-left: 10px;
	color: #242e3b;
	border-left: 3px solid rgb(0,172,226);
}
.main_txt li {
	height: 110px;
}
li dl {
	max-width: 70%;
}
.decript1 {
	font-size: 16px;
	font-weight: bold;
}
.decript2 {
	font-size: 14px;
	display: block;
	display: -webkit-box;
	overflow: hidden;
	text-align: justify;
	text-overflow: ellipsis;
	color: #61656b;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}
.background_package, .background_service {
	line-height: 40px;
	height: 40px;
	background: url(../imgs/chanpintaocan.png);
}
.package {
	margin-top: 25px;
}
.packageimg {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	flex: 0 0 22%;
}
.service-wrapper, .product-wrapper {
	justify-content: space-between;
}
.meal {
	font-size: 20px;
	margin-top: 10px;
}
.money {
	font-size: 20px;
	color: #f66f45;
}
.box3-ul2a {
	
}
