

.degisterlogo {
	width: 1150px;
	margin: 0 auto;
	line-height: 100px;
}
.degistertxt {
	width: 750px;
	border: 1px solid #ddd;
	margin: 0 auto;
	box-shadow: 0 0 5px 1px #ddd;
}
.just {
	width: 180px;
	height: 46px;
	color: #fff;
	font-size: 18px;
	background: rgb(0,172,222) !important;
}
/*.form-group {
	width: 60%;
}*/
.register-lf {
	margin: 50px 18px;
	background: url(../img/register.png) no-repeat;
	background-position: right 2em center; 
}
.pass {
	margin-left: 0 !important;
	margin-right: 0 !important;
	/*width: 50%;*/
}
.code {
	border: 1px solid #ccc;	
	line-height: 30px;
	padding: 0 15px;
	cursor: pointer;
}
.code:hover {
	background: rgb(0,172,222);
}
.select {
	width: 120px;
	text-align: center;
	padding: 8px 0;
	color: #555;
	border: 1px solid #CCCCCC;
}
.form-control {
	display: inline !important;
}
#inputEmail5 {
	margin-left: 5px;
}
.progressAll {
	width: 750px;
	margin: 0 auto;
}
/*进度条*/

.progress {
	height: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.progress-bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: rgb(91,204,231) !important;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
	-webkit-transition: width .6s ease;
	transition: width .6s ease;
}