

.degisterlogo {
	width: 1150px;
	margin: 0 auto;
	line-height: 100px;
}
.degistertxt {
	width: 750px;
	border: 1px solid #ddd;
	margin: 0 auto;
	box-shadow: 0 0 5px 1px #ddd;
}
.just {
	width: 180px;
	height: 46px;
	color: #fff;
	font-size: 18px;
	background: rgb(0,172,222) !important;
}
.form-group {
	width: 60%;
}
.register-lf {
	margin: 50px 18px;
	background: url(../imgs/register.png) no-repeat;
	background-position: right 2em center; 
}
.pass {
	margin-left: 0 !important;
	margin-right: 0 !important;
	/*width: 50%;*/
}
.code {
	border: 1px solid #ccc;	
	line-height: 30px;
	padding: 0 15px;
	cursor: pointer;
}
.code:hover {
	background: rgb(0,172,222);
}
.select {
	width: 120px;
	text-align: center;
	padding: 8px 0;
	color: #555;
	border: 1px solid #CCCCCC;
}
.form-control {
	display: inline !important;
}
#inputEmail5 {
	margin-left: 5px;
}
