
body, html, .all {
	height: 100%;
}
img {
	max-width: 100%;
}
.all {
	min-width: 900px;
	background: url(../img/register-l.png) no-repeat;
	background-size: cover;
}
.all-box {
	width: 23%;
	left: 61%;
	position: absolute;
}
.all-box {
	top: 38%;
	background: rgb(238,238,238);
	border-radius: 10px;
}
.all-p {
	text-align: center;
	letter-spacing: 5px;
	font-size: 16px;
	line-height: 60px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: white;
	font-weight: bold;
	background: rgb(34,48,67);
}
.boxs {
	overflow: hidden;
	margin: 30px auto 10px;
	max-width: 80%;
	min-width: 50%;
	/*height: 200px;*/
	/*background: white;*/
}
.boxs-txt, .boxs-pass {
	padding-left: 10px;
	border: 0;
}
.boxs-txt {
	margin-top: 18px;
}
.glyphicon {
	padding-left: 30px;
}
.all-btn {
	color: white;
	letter-spacing: .3em;
	font-size: 16px;
	font-weight: bold;
	border-radius: .625em;
	margin: .625em 0 .5em;
	background: rgb(32,175,241);
	border: 0;
	width: 12.5em;
	height: 3.125em;
}
.all-p1, .all-bott {
	text-align: center;
}
.all-bott {
	padding-top: 2em;
}
.sp-btn {
	width: 140px;
	height: 40px;
	background: rgb(102,223,244);
	border: 0;
	border-radius: 20px;
	margin-left: 1em;
}
